<img src="../assets/img/dragonball-z-logodragon-ball-z-logo-by-elfaceitoso-on-deviantart-aylglxpg.png" alt="Dragon Ball"
  class="logo-dragon">

<div class="row">
  <div class="col">
    <!-- <app-personajes [personajes]="personajes"></app-personajes> -->
    <app-personajes></app-personajes>

  </div>
  <div class="col">
    <!-- <app-agregar [personajes]="personajes" [nuevo]="nuevo" (onNuevoPersonaje)="agregarNuevoPersonaje( $event )"></app-agregar> -->
    <!-- <app-agregar [personajes]="personajes"></app-agregar> -->
    <app-agregar></app-agregar>


  </div>
</div>
