<div class="toolbar" role="banner">
  <img width="100" alt="Lc Logo" src="../assets/img/logolcprograming3.png" />
  <span>Dragon Ball - Angular</span>
  <img width="50" alt="Angular Logo" src="../assets/img/angular-icon-logo-png-transparent3.png" />
  <div class="spacer"></div>
  <a href="https://github.com/Luiscrd" target="_blank" class="link-github">
    <span class="span-lc">LcrPrograming</span>
    <img src="../assets/img/github_PNG40.png" alt="Github" class="logo-github">
  </a>
</div>

<div class="content" role="main">
  <app-dbz></app-dbz>
</div>

<div class="footer">
  <span class="by-footer">By: LcrPrograming</span>
  <a href="https://www.linkedin.com/in/luis-carballo-rua-3b4763248/" target="_blank">
    <img src="../assets/img/in.png" alt="Linked In" class="logo-liked">
  </a>

</div>
